<ion-content class="has-header">

  <br />
  <br />
  <br />
  <h1 align="center">Sign in to your account</h1>
  <br />

  <div class="list list-inset padding-horizontal">

    <span class="input-label"><i class="ion-android-mail"></i>&nbsp; Email</span>
    <label class="item item-input item-stacked-label">
      <input type="text" />
    </label>

  </div>

  <div class="list list-inset padding-horizontal">

    <span class="input-label"><i class="ion-android-lock"></i>&nbsp; Password</span>
    <label class="item item-input item-stacked-label">
      <input type="password" />
    </label>
  </div>

  <p align="center">
    <a href="#">Forgot your password?</a>
  </p>
  <br />

  <p align="center">
    <button class="button button-positive">
      <i class="ion-arrow-right-c"></i>
      &nbsp;Sign in
    </button>
  </p>

</ion-content>